h1{
    color: black;
    font-style: oblique;
    text-align: center;
    text-shadow: 1px 1px red;
    border-style: solid;
    border-color: white;
    border-width: medium;
    border-radius: 800px;
    background-color: black;
    
    
  
    
}
.header{
    height: 200px;
    background-color: black;
    width: 100%;
    font-size: 110px;
    text-align: center;
    text-shadow: 2px 2px red;
    font-style:oblique;
}

.btn-flat {
      background-color: purple;
      color: white;
    }

.btn-xxl {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }
.text 
{
    color: red;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    position: static;
    right: 500px;

}
    
  
.table{
    color:black;
    background-color:rgb(41, 40, 40);
    text-align: center;
    width: 60%;
}
.yourPlayList
{
color: red;
text-align: center;
font-style: unset;
border: black;

background-color:rgb(27, 26, 26);
}

* {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    flex: 0 0 50%;
    border: 1px solid rgb(223, 34, 34);
    background-color: black;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    border-radius: 30px;
    border-style: dotted;
  }
  .footer{
    text-align: center;
    border-style: solid;
    background-color: black;
    height: 100px;
    border-color: white;
    color: white;
  }